name: 오늘도리뷰 배포스크립트

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: 레포지토리 파일 가져오기
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: 코드 파일 복사하기
        run: |
          rsync -av --delete $GITHUB_WORKSPACE/ /home/kiju/dev/study/mylittlereviewduck_backend/

      - name: node js 설치
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 의존성 설치
        run: npm ci

      - name: .env생성
        run: |
          cd /home/kiju/dev/study/mylittlereviewduck_backend
          echo '${{ secrets.ENV }}' >> .env

      - name: firebase.config.json 생성
        run: |
          echo '${{ secrets.FIREBASE_CONFIG }}' > /home/kiju/dev/study/mylittlereviewduck_backend/src/notification/firebase.config.json

      - name: Prisma client 생성
        run: |
          cd /home/kiju/dev/study/mylittlereviewduck_backend
          npx prisma generate

      - name: 도커 컴포즈 실행
        run: |
          cd /home/kiju/dev/study/mylittlereviewduck_backend
           docker compose down
           docker compose up -d --build
